<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Zonage Chamonix</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="legende-style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>

<body>
    <div id="app">

        <!-- Écran d’accueil -->
        <div v-if="acceuilOuvert" class="accueil_container">
            <div class="close-button" style="margin-right: 20px; margin-top: 20px" @click="acceuilOuvert = false"></div>

            <div class="titre_acceuil">PLAN LOCAL D'URBANISME CHAMONIX 2025</div>
            <div class="titre_acceuil">Comparaison ancien / nouveau </div>
            <div class="sommaire-container">
                <a v-for="(zone, index) in zonesData" :key="index" @click="selectZone(index)">
                    {{ zone.title }}
                </a>
                <a class="sommaire-container" href="https://www.facebook.com/groups/projetpluchamonix2025"
                    target="_blank" style="color : white ; background-color : #3b5998 ">Mieux comprendre et s'informer
                    sur le PLU → </a>
            </div>
        </div>
        <!-- header & footer -->
        <div v-if="!legendeAncienVisible && !legendeNouveauVisible">
            <!-- header -->
            <div v-if="!acceuilOuvert" class="header_container ">
                <a class="home-icon" @click="retourAccueil">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="home-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125
                             c0 .621.504 1.125 1.125 1.125H9.75v-4.875
                             c0-.621.504-1.125 1.125-1.125h2.25
                             c.621 0 1.125.504 1.125 1.125V21h4.125
                             c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                </a>

                <h1 id="header-title">{{ selectedZone.title }}</h1>

                <a @click="toggleZoneMenu()" class="menu-zone">
                    Zones →
                </a>
            </div>

            <!-- transparency container -->
            <div id="transparency-container" v-if = "!acceuilOuvert && (windowWidth > 768 || !menuVisible)">
                <span class="transparency-label left">Ancien PLU</span>
                <input type="range" id="transparency-slider" min="0" max="100" v-model="transparencyPercent"
                    @input="updateTransparency" />
                <span class="transparency-label right">Nouveau projet de PLU</span>
            </div>

            <!-- footer -->
            <transition name="slide-menu">
                <div class="menu-container" id="menu-container" v-if="menuVisible && !acceuilOuvert">
                    <a v-for="(zone, index) in zonesData" :key="index" @click="selectZone(index)"
                        :style="selectedIndex === index ? 'background-color: orange' : ''">
                        {{ zone.title }}
                    </a>
                    <a @click="legendeNouveauVisible = true" style="background-color: white; border: 2px solid orange">
                        Légende des zonages nouveau PLU
                    </a>
                    <a @click="legendeAncienVisible = true" style="background-color: white; border: 2px solid orange">
                        Légende des zonages ancien PLU
                    </a>
                </div>
            </transition>
            <!-- buy me a coffee -->
            <a href="https://buymeacoffee.com/hugocharlet" target="_blank" rel="noopener noreferrer" class="bmc-button"
                :style="{ transform: acceuilOuvert? 'translateY(92vh)' : 'translateY(0)' }">
                <img src="buymeacoffee.png" alt="Buy Me A Coffee" />
            </a>
        </div>

        <!-- Maps -->
        <div id="container">
            <div id="zoom-slider-container">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="home-icon" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
                </svg>

                <input type="range" id="zoom-slider" min="0.5" max="5" step="0.01" value="1">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="home-icon" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM13.5 10.5h-6" />
                </svg>
            </div>
            <div id="zoom_outer" v-show="!acceuilOuvert && (!menuVisible || windowWidth > 768)">
                <div id="zoom">
                    <img :src="selectedZone.topImage" alt="Nouveau" id="top-layer" :style="{ opacity: transparency }" />
                    <img :src="selectedZone.bottomImage" alt="Ancien" />
                </div>
            </div>


        </div>
        <!-- Légende ancien -->
        <div v-if="legendeAncienVisible" class="legende_container">
            <div class="close-button" @click="legendeAncienVisible = false"></div>

            <div class="titre-legende">Légende – Ancien PLU</div>

            <div v-for="categorie in categories_ancien" :key="categorie.titre">
                <div class="sous-titre-legend ">
                    {{ categorie.titre }}
                    <span class="sous-texte" v-if="categorie.sousTexte">({{ categorie.sousTexte }})</span>
                </div>

                <div v-for="zone in categorie.zones" :key="zone.nom" class="zone-container">
                    <div class="zone-symbol" :id="zone.id || null" :class="zone.classe ? zone.classe : ''"></div>
                    <div class="zone-description">
                        <strong>{{ zone.nom }} :</strong> {{ zone.description }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Légende nouveau -->
        <div v-if="legendeNouveauVisible" class="legende_container">
            <div class="close-button" @click="legendeNouveauVisible = false"></div>

            <div class="titre-legende">Légende – Nouveau PLU</div>

            <div v-for="categorie in categories_nouveau" :key="categorie.titre">
                <div class="sous-titre-legend ">
                    {{ categorie.titre }}
                    <span class="sous-texte" v-if="categorie.sousTexte">({{ categorie.sousTexte }})</span>
                </div>

                <div v-for="zone in categorie.zones" :key="zone.nom" class="zone-container">
                    <div class="zone-symbol" :id="zone.id || null" :class="zone.classe ? zone.classe : ''"></div>
                    <div class="zone-description">
                        <strong>{{ zone.nom }} :</strong> {{ zone.description }}
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- script Vue -->
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    selectedIndex: 0,
                    transparencyPercent: 100, // slider 0-100
                    transparency: 1,
                    acceuilOuvert: true,
                    menuVisible: true,
                    windowWidth: window.innerWidth,
                    legendeAncienVisible: false,
                    legendeNouveauVisible: false,


                    zonesData: [
                        {
                            "title": "Les Bossons",
                            "topImage": "bossons_nouveau.jpg",
                            "bottomImage": "bossons_ancien.jpg",
                            "activePage": "bossons.html",
                            "url": "les-bossons"
                        },
                        {
                            "title": "Les Gaillants - Les Pélerins",
                            "topImage": "gaillands-pelerins_nouveau.jpg",
                            "bottomImage": "gaillands-pelerins_ancien.jpg",
                            "activePage": "gaillands-pelerins.html",
                            "url": "les-gaillants-les-pelerins"
                        },
                        {
                            "title": "Chamonix",
                            "topImage": "chamonix_nouveau.jpg",
                            "bottomImage": "chamonix_ancien.jpg",
                            "activePage": "chamonix.html",
                            "url": "chamonix"
                        },
                        {
                            "title": "Les Mouilles - La Frasse - Les Coverays",
                            "topImage": "mouilles-frasse-coverays_nouveau.jpg",
                            "bottomImage": "mouilles-frasse-coverays_ancien.jpg",
                            "activePage": "mouilles-frasse-coverays.html",
                            "url": "les-mouilles-la-frasse-les-coverays"
                        },
                        {
                            "title": "Les Praz - Les Rosières - Les Nants",
                            "topImage": "praz-rosieres-nants_nouveau.jpg",
                            "bottomImage": "praz-rosieres-nants_ancien.jpg",
                            "activePage": "praz-rosieres-nants.html",
                            "url": "les-praz-les-rosieres-les-nants"
                        },
                        {
                            "title": "Les Bois - Les Tines",
                            "topImage": "bois-tines_nouveau.jpg",
                            "bottomImage": "bois-tines_ancien.jpg",
                            "activePage": "bois-tines.html",
                            "url": "les-bois-les-tines"
                        },
                        {
                            "title": "Le Lavancher - La Joux",
                            "topImage": "lavancher-joux_nouveau.jpg",
                            "bottomImage": "lavancher-joux_ancien.jpg",
                            "activePage": "lavancher-joux.html",
                            "url": "le-lavancher-la-joux"
                        },
                        {
                            "title": "Les îles - Les chosalets",
                            "topImage": "iles-chosalets_nouveau.jpg",
                            "bottomImage": "iles-chosalets_ancien.jpg",
                            "activePage": "iles-chosalets.html",
                            "url": "les-iles-les-chosalets"
                        },
                        {
                            "title": "Agentière",
                            "topImage": "argentiere_nouveau.jpg",
                            "bottomImage": "argentiere_ancien.jpg",
                            "activePage": "argentiere.html",
                            "url": "argentiere"
                        },
                        {
                            "title": "Montroc",
                            "topImage": "montroc_nouveau.jpg",
                            "bottomImage": "montroc_ancien.jpg",
                            "activePage": "montroc.html",
                            "url": "montroc"
                        },
                        {
                            "title": "Le Tour",
                            "topImage": "letour_nouveau.jpg",
                            "bottomImage": "letour_ancien.jpg",
                            "activePage": "letour.html",
                            "url": "le-tour"
                        }
                    ],

                    categories_ancien: [
                        {
                            titre: 'Zones Urbaines',
                            sousTexte: 'constructibles en l\'état',
                            zones: [
                                { nom: 'UA', id: 'UA', description: 'Zone urbaine centrale, destinée aux logements, commerces, bureaux, services, et équipements touristiques.' },
                                { nom: 'UB', id: 'UB', description: 'Zone urbaine en continuité avec le centre, accueillant logements, hébergements touristiques, et équipements publics.' },
                                { nom: 'UC', id: 'UC', description: 'Zone urbaine mixte, combinant habitations collectives, espaces verts, et activités commerciales ou artisanales.' },
                                { nom: 'UD', id: 'UD', description: 'Zone résidentielle principalement composée de maisons individuelles ou multifamiliales.' },
                                { nom: 'UE', id: 'UE', description: 'Zone résidentielle d\'extension des centres urbains, villages et hameaux, avec faible densité.' },
                                { nom: 'UF', id: 'UF', description: 'Zone résidentielle en bordure de sites naturels, avec grandes parcelles et faible densité.' },
                                { nom: 'UT', id: 'UV', description: 'Zone dédiée aux hébergements touristiques légers (campings, caravanages, etc.).' },
                                { nom: 'UV', id: 'UV', description: 'Zone des villages et hameaux anciens, préservant leur caractère traditionnel.' },
                                { nom: 'UY', id: 'UZ', description: 'Zone d\'activités artisanales et industrielles, parfois mixte avec habitat.' },
                                { nom: 'UZ', id: 'UZ', description: 'Zone d\'activité ferroviaire, incluant les gares et plateformes.' }
                            ]
                        },
                        {
                            titre: 'Zones à Urbaniser',
                            sousTexte: 'constructibles sous réserve d\'aménagements ou de révision du PLU',
                            zones: [
                                { nom: '1AU', id: 'AU', description: 'Zone destinée à être urbanisée, l\'urbanisation est possible immédiatement, sous réserve de respecter les règles du PLU.' },
                                { nom: '1AUB', classe: 'hachures', description: 'Zone à urbaniser avec des restrictions liées aux risques naturels, nécessitant des aménagements spécifiques pour garantir la sécurité avant toute construction.' },
                                { nom: '1AUD / 1AUDa', classe: 'hachures', description: 'Zone à urbaniser pour des maisons individuelles ou multifamiliales, suivant les règles de la zone UD/ UDa.' },
                                { nom: '1AUE / 1AUEa / 1AUEb / 1AUEc / 1AUEd / 1AUEr / 1AUE1 / 1AUE2/ 1AUE*', classe: 'hachures', description: 'Zone à urbaniser pour des maisons individuelles ou multifamiliales, suivant les règles de la zone UEa/ UEb / UEc ...etc.' },
                                { nom: '1AUY / 1AUYa', classe: 'hachures', description: 'Secteur à urbaniser avec des caractéristiques similaires au secteur UY/ UYa.' },
                                { nom: '2AU', id: 'AU', description: 'Zone inconstructible dans l\'état actuel. Elle regroupe des secteurs naturels qui pourraient être urbanisés à l\'avenir, mais uniquement après une modification ou révision du PLU.' }
                            ]
                        },
                        {
                            titre: 'Zones Agricoles',
                            sousTexte: 'constructions réservées à l\'activité agricole',
                            zones: [
                                { nom: 'A', id: 'A', description: 'Zone réservée à l\'agriculture, aux exploitations agricoles, et aux activités liées.' }
                            ]
                        },
                        {
                            titre: 'Zones Naturelles',
                            sousTexte: 'non constructibles',
                            zones: [
                                { nom: 'N', id: 'N', description: 'Zone naturelle protégée pour sa qualité paysagère, écologique, ou historique.' },
                                { nom: 'Na', id: 'N', description: 'Secteur réservé à la pratique du golf.' },
                                { nom: 'Nc', id: 'N', description: 'Secteur d\'alpages.' },
                                { nom: 'Nr', id: 'Nr', description: 'Zone affectée par des risques naturels (exemple : avalanches).' }
                            ]
                        }
                    ],

                    categories_nouveau: [
                        {
                            titre: "Zones urbaines",
                            sousTexte: "constructibles en l'état",
                            zones: [
                                { nom: "Ua", id: "Ua", description: "Zones urbaines de centre-ville" },
                                { nom: "Uas", id: "Uas", description: "Zones urbaines de centralités avec une forte mixité de fonctions (ex : Argentière et Les Praz)" },
                                { nom: "Ubd1", id: "Ubd1", description: "Zones urbaines à dominante résidentielle, composé d'habitat individuel dense de différentes époques (Hauteur de 12m & CES de 20%)" },
                                { nom: "Ubd2", id: "Ubd2", description: "Zones urbaines à dominante résidentielle, composé d'habitat individuel dense de différentes époques (Hauteur de 10m & CES de 40%)" },
                                { nom: "Ubd3", id: "Ubd3", description: "Zones urbaines à dominante résidentielle, composé d'habitat individuel dense de différentes époques (Hauteur de 8m & CES de 60%)" },
                                { nom: "Ubp1", id: "Ubp1", description: "Zones urbaines correspondant à un tissu urbain composé majoritairement d'un habitat individuel lâche à vocation principale d'habitation sous forme de maisons individuelles ou multi-familiales (CES de 20%)" },
                                { nom: "Ubp2", id: "Ubp2", description: "Zones urbaines correspondant à un tissu urbain composé majoritairement d'un habitat individuel lâche à vocation principale d'habitation sous forme de maisons individuelles ou multi-familiales (CES de 10%)" },
                                { nom: "Uc", id: "Uc", description: "Zones urbaines composée majoritairement d'habitat collectif situés en dehors des espaces de centralités (ex : Chamonix sud, Les Pèlerins, Le Plagnole, etc.)" },
                                { nom: "Ue", id: "Ue", description: "Zones urbaines déjà urbanisées dans lesquels ont vocation à prendre place les établissements artisanaux, les dépôts et installations dont le voisinage avec les logements n'est pas souhaitable" },
                                { nom: "Ueq", id: "Ueq", description: "Zones urbaines circonscrites aux territoires réservés aux divers équipements collectifs, publics ou privés (Hauteur de 15m)" },
                                { nom: "Ueq1", id: "Ueq1", description: "Sous-secteur de la zone Ueq réservé aux équipements collectifs, publics ou privés (Hauteur de 20m)" },
                                { nom: "Ut1", id: "Ut1", description: "Zones urbaines touristiques accueillant des hébergements touristiques légers : camping, caravaning, habitations légères de loisirs et équipements connexes" },
                                { nom: "Ut2", id: "Ut2", description: "Zones urbaines touristiques englobant les gares de départs des remontées mécaniques en zone urbaine" }
                            ]
                        },
                        {
                            titre: "Zones à urbaniser",
                            sousTexte: "constructibles sous réserve d'aménagements ou de révision du PLU",
                            zones: [
                                { nom: "AU-Ubd3", id: "AU-Ubd3", description: "Zone à urbaniser correspondant au règlement de la zone Ubd3" },
                                { nom: "AU-Ubp1", id: "AU-Ubp1", description: "Zone à urbaniser correspondant au règlement de la zone Ubp1" },
                                { nom: "AU-Uc", id: "AU-Uc", description: "Zone à urbaniser correspondant au règlement de la zone Uc" }
                            ]
                        },
                        {
                            titre: "Zones agricoles",
                            sousTexte: "constructions réservées à l'activité agricole",
                            zones: [
                                { nom: "A", id: "A", description: "Zones agricoles" }
                            ]
                        },
                        {
                            titre: "Zones naturelles",
                            sousTexte: "non constructibles",
                            zones: [
                                { nom: "N", id: "N", description: "Zones naturelles" },
                                { nom: "Nco", id: "Nco", description: "Zones naturelles corridors" },
                                { nom: "Np", id: "Np", description: "Zones naturelles protégées" },
                                { nom: "Nt", id: "Nt", description: "Zones naturelles touristiques" },

                            ]
                        }
                    ],


                };
            },

            computed: {
                selectedZone() {
                    return this.zonesData[this.selectedIndex];
                }
            },

            methods: {
                updateTransparency() {
                    this.transparency = this.transparencyPercent / 100;
                },
                toggleZoneMenu() {
                    if (window.innerWidth <= 768) {
                        this.menuVisible = !this.menuVisible;
                    } else {
                        this.menuVisible = true; // sur desktop, on garde le menu toujours visible
                    }
                },
                selectZone(index) {
                    this.selectedIndex = index;
                    this.acceuilOuvert = false;
                    if (window.innerWidth <= 768) {
                        this.menuVisible = false;
                    }
                    // Forcer la transparence à 100%
                    this.transparencyPercent = 100;
                    this.updateTransparency();

                },

                retourAccueil() {
                    this.acceuilOuvert = true;
                }


            },

            mounted() {
                // init la transparence au montage
                this.updateTransparency();
                window.addEventListener('resize', () => {
                    this.windowWidth = window.innerWidth;
                });

            },

        }).mount('#app');

    </script>
    <!-- script externe -->
    <script src="script.js"></script>
</body>

</html>